<div style="margin-left:35%;margin-top:10%">
  <h1> Formulaire d'inscription</h1>
  <div style="margin-bottom: 15px; margin-left: 17px;">
  <label> Nom : </label>
  <input type="text" [(ngModel)]="nom" style="margin-left: 17px;">
  <p style="color: red;">{{erreurNom}}</p>
</div>
<div style="margin-bottom: 15px; margin-left: 17px;">
  <label> Prénom : </label>
  <input type="text" [(ngModel)]="prenom">
  <p style="color: red;">{{erreurPrenom}}</p>

</div>
<div style="margin-bottom: 15px;">
  <label> Date de naissance : </label>
  <input type="date" [(ngModel)]="date" (change)="displayAge()">
</div>
<div  style="margin-bottom: 10px; margin-left: 39px;" *ngIf="date !=''">
  <label> Age : </label>
  <input type="text" [(ngModel)]="age">
</div>
<div style="margin-bottom: 10px; margin-left: 45px;">
  <label> Tel : </label>
  <input type="text" [(ngModel)]="tel" />
  <p style="color: red;" id="errorTel">{{erreurTel}}</p>

</div>

<div>
  <label> Situation familiale </label>
  <select [(ngModel)]="sf">
      <option value="" selected>-</option>
      <option value="C"> Célibataire </option>
      <option value="M"> Marié </option>
      <option value="D"> Divorcé </option>
      <option value="V"> Veuf </option>
  </select>

</div>
    
  <div id="divCheck" *ngIf="sf != 'C' && sf != '' ">
  <input type="checkbox" [(ngModel)]="myCheck"  >
  <label for="myCheck"> Avez-vous des enfants ?</label>

</div>

<div id="divNbrE" style="margin-bottom: 15px; margin-left: 17px;" *ngIf="myCheck">
  <label> Nombre d'enfant : </label>
  <input type="text">
</div>

<button (click)="verif()" style="margin-top: 10px;margin-left: 250px;"> Envoyer </button>

</div>